<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>
           Бриф
        </title>
        <script src="https://www.googleoptimize.com/optimize.js?id=OPT-K8TZ7BV"></script>
        <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NCZZ8G2');</script>
    <!-- End Google Tag Manager -->

        <link href="img/favicon.png" rel="icon">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <!-- <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"> -->
        <link href="css/sb-admin.css" rel="stylesheet" type="text/css">
        <link href="css/stylecalc.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css" type="text/css">
        <link href="lib/fontawesome-free-5.13.1-web/fontawesome-free-5.13.1-web/css/all.min.css" rel="stylesheet"> <!--load all styles -->
        <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="assets/css/checkbox.css">
        <!-- <link rel="stylesheet" href="/css/burger.css"> -->
       
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NCZZ8G2"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
          <!-- индикаторов загрузки -->
    <div class="bubblingG">
  
        <span id="bubblingG_1">
        </span>
        <span id="bubblingG_2">
        </span>
        <span id="bubblingG_3">
        </span>
      </div>

              
<section id="section1" class="section1">
    <div id="page-wrapper">
        <div class="container">
            <div class="row">
                    <h1 class="form-title text-center">Бриф на разработку сайта</h1>
                    <h2 class="text-center">Заполнение этой формы занимает 2 минуты.<br>Эти данные экономят 10 минут на телефоне.</h2>
                    <div class="promo-dash"></div>
                <form method="POST" action="/contactform/contact-brief.js"> 
                    <div class="form-group bg-layout" id="preferences">
                            <label class="">1. Каков возраст вашего бизнеса?</label>
                            <p class="form-paragraph ">Давайте для начала определимся, с какой целью вам нужен сайт и выберем соответствующий ему тип. </p>
                    <div class="col-lg-12">    
                        <!-- <div class="col-lg-3"> -->
                            <label class="radio-inline ">
                                <input class="option-input radio" type="radio" id="typeofsite1" name="typeofsite" data-cell="A1" value="100">в процессе запуска
                            </label>
                        <!-- </div> -->
                        <!-- <div class="col-lg-3"> -->
                            <label class="radio-inline ">
                                <input class="option-input radio" type="radio" id="typeofsite2" name="typeofsite" data-cell="B1" value="200"> 0-5 лет
                            </label>
                        <!-- </div>        -->
                        <!-- <div class="col-lg-3"> -->
                            <label class="radio-inline ">
                                <input class="option-input radio" type="radio" id="typeofsite3"  name="typeofsite" data-cell="C1" value="300"> 5-10 лет
                            </label>
                        <!-- </div> -->
                        <!-- <div class="col-lg-3"> -->
                            <label class="radio-inline ">
                                <input class="option-input radio" type="radio" id="typeofsite3"  name="typeofsite" data-cell="C1" value="300"> больше 10 лет
                            </label>
                        <!-- </div> -->
                    </div>
                    </div>
                    <div class="form-group">
                            <label class="">
                                2. У вас есть точный бюджет на разработку?
                            </label>
                        <div class="">
                            <input type="text" placeholder="введите точный бюджет" class="form-control input-sm" id="answer1" name="answer1">
                            <label for="">
                            <input class="option-input checkbox" type="checkbox" placeholder="Затрудняюсь ответить" name="no" id="">
                            </label>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
</section>


<section id="section2" class="section2 ">
    <div class="container">
        <div class="row  ask-group">
            <div class="form-group">
                <div class="ask-section col-lg-12 ">
                    <label class="">3.Имя вашей компании?</label>
                    <div class="">
                        <input type="text" placeholder="например продажа инструментов и материалов  для ремонта" class="form-control input-sm" id="answer1" name="answer1">
                    </div>
                </div>
                <div class="col-lg-12 ">
                    <label class="">
                    4.Опишите бренд / продукт / услугу, для которой создается сайт:
                    </label>
                    <div class="">
                        <input type="text" placeholder="например " class="form-control input-sm" id="answer2" name="answer2">
                    </div>
                </div>
                <div class="col-lg-12 ">
                    <label class="">
                    6.  Опишите главную задачу которую будет исполнять сайт:</label>
                    <div class="">
                        <input type="text" placeholder="например услуги ремонта , товары для детей до 2 лет тд..." class="form-control input-sm" id="answer5" name="answer5">
                    </div>
                </div>
                <div class="col-lg-12 ">
                    <label class="">
                    7.   Укажите планируемые сроки реализации проекта:
                    </label>
                    <div class="">
                        <input type="text" placeholder="например 7 дней " class="form-control input-sm" id="answer9" name="answer9">
                    </div>
                </div>
                <div class="col-lg-12 ">
                    <label class=""> 
                        Укажите, что, с вашей точки зрения, может дополнительно уточнить задачу разработки сайта.
                    </label>
                    <div class="">
                        <input type="text" class="form-control input-sm" name="answer15">
                    </div>
                </div>
            </div>
            
            
        </div>  
    </div>

    <div class="contact-fields">
        <div class="container">
            <div class="row ask-group">
                <div class="col-lg-12 ">
                    <div class="">
                            <label class="col-lg-12">Ваше имя:</label>
                        <div class="col-lg-12">
                            <input type="text" name="name" id="name" class="form-control input-sm" value="например..." data-cell="A1" data-format="$ 0,0.00">
                        </div>
                            <label class="col-lg-12">Ваше email:</label>
                        <div class=" col-lg-12">
                            <input type="text" name="email" id="email" class="form-control input-sm" value="например..." data-cell="A1" data-format="$ 0,0.00">
                        </div>
                            <label class="col-lg-12 ">Ваш номер телефона:(по желанию,телеграм , вайбер, ватсап):</label>
                        <div class=" col-lg-12">
                            <input type="text" name="phone" id="phone" class="form-control input-sm" value="например..." data-cell="A1" data-format="$ 0,0.00">
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>   
    </form>
</section>    
       









    

 <!-- <section class="my-socials">
    <div class="my-links ">
        <div class="">  
          <a href="https://www.facebook.com/yarema.dyackiv.77"><span>  <i class="fab fa-facebook"></i></span></a>
        </div>
        <div class="">
          <a href="http://linkedin.com/in/yarema-dyackiv-05836a1a2"><span><i class="fab fa-viber"></span></i></a>
        </div>  
        <div class="">
          <a href="https://www.instagram.com/yarema_dyakiv/?hl=uk"><span> <i class="fa fa-instagram"></span></i></a>
        </div>
        <div class="">
          <a href="https://t.me/webdevdy"><span> <i class="fab fa-telegram-plane"></span></i></a>
        </div>
    </div>
  </section> -->
<footer>
<div id="copyrights">
  <div class="container">
    <p>
      <a href="#"> &copy; 2020</a> |   <strong>Разработка сайтов для бизнеса </strong>| Все права защищены 
    </p>
    <div class="credits">
    </div>
  </div>
</div>
</footer>

    <script type="text/javascript" src="/lib/jquery/jquery.js"></script>

    <script type="text/javascript" src="/js/serialize.js"></script>
      <script type="text/javascript" src="/js/obrobka.js"></script>
    <script src="/contactform/contact-brief.js"></script>
    <script type="text/javascript" src="js/jquery-calx-sample-2.2.8.js" ></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.js" ></script>
    <script type="text/javascript" src="/lib/jautocalc/jautocalc.min.js"></script> 
    <script src="/js/preloeader.js"></script>
    
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

        
        <script>
            $('#pizza, #burger').calx();
            $('#show_formula').click(function(e){
                e.preventDefault();

                if($(this).attr('data-shown') == '0'){
                    $('[data-formula],[data-cell]').each(function(){
                        $(this).after('<span class="formula">'+$(this).attr('data-cell')+($(this).attr('data-formula') ? ' = '+$(this).attr('data-formula') : '')+'&nbsp;</span>');
                    });

                    $(this).attr('data-shown', 1).html('Hide Formula');
                }else{
                    $('span.formula').remove();
                    $(this).attr('data-shown', 0).html('Show Formula');
                }
            });

        </script>
        <script>
            $(document).ready(function() {

function autoCalcSetup() {
    $('form[name=cart]').jAutoCalc('destroy');
    $('form[name=cart] tr[name=line_items]').jAutoCalc({keyEventsFire: true, decimalPlaces: 2, emptyAsZero: true});
    $('form[name=cart]').jAutoCalc({decimalPlaces: 2});
}
autoCalcSetup();


$('button[name=remove]').click(function(e) {
    e.preventDefault();

    var form = $(this).parents('form')
    $(this).parents('tr').remove();
    autoCalcSetup();

});

$('button[name=add]').click(function(e) {
    e.preventDefault();

    var $table = $(this).parents('table');
    var $top = $table.find('tr[name=line_items]').first();
    var $new = $top.clone(true);

    $new.jAutoCalc('destroy');
    $new.insertBefore($top);
    $new.find('input[type=text]').val('');
    autoCalcSetup();

});

});
        </script>
    </body>
</html>