<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vanilla - AJAX Portfolio HTML5 Template</title>

	<link href="https://fonts.googleapis.com/css?family=Passion+One:400,700,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/vendor/font-awesome-5/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body>
    <!-- Preloader  -->
    <div id="preloader-wapper">
        <div class="loader-middle"></div>
    </div>
    <div class="loader">
        <div class="block_first"></div>
        <div class="block_second"></div>
    </div>

    <!-- Navbar -->
    <nav>
        <div class="">
            <div class="nav-burger c-magnetic">
                <div class="span">
                    <div class="toggle-btn link empty-cursor">
                        <div class="burger-menu">
                            <span class="one"></span>
                            <span class="two"></span>
                            <span class="tre"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg_block_first"></div>
        <div class="bg_block_second"></div>

        <div class="manu-container">
            <div class="menu">
                <div class="data">
                    <ul>
							<li><a class="menu-link multi-leave link" href="work.html">Роботы</a></li>
							<li><a class="menu-link multi-leave link" href="about.html">Обо мне</a></li>
							<li><a class="menu-link multi-leave link" href="contact.html">Связатся</a></li>
							<li><a href="/checkbox.html" target="_blank" class="menu-link multi-leave link">Бриф на разработку</a></li>
                    </ul>

                </div>

            </div>
        </div>
    </nav>
    <!-- Logo -->
    <div class="logo">
        <a class="link" href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
    </div>



    <!-- Custom Cursor -->
    <div class="cursor"></div>
    <div class="cursor-follower"></div>



    <!-- Social Media -->
    <div class="social">
        <ul>
            <li class="c-magnetic">
                <span>
                    <a class="link span" href="contact.html#">
                        <i class="fab fa-facebook" aria-hidden="true"></i>
                    </a>
                </span>
            </li>

            <li class="c-magnetic">
                <span>
                    <a class="link span" href="contact.html#">
                        <i class="fab fa-instagram" aria-hidden="true"></i>
                    </a>
                </span>
            </li>

            <li class="c-magnetic">
                <span>
                    <a class="link span" href="contact.html#">
                        <i class="fab fa-twitter" aria-hidden="true"></i>
                    </a>
                </span>
            </li>

            <li class="c-magnetic">
                <span>
                    <a class="link span" href="contact.html#">
                        <i class="fab fa-behance" aria-hidden="true"></i>
                    </a>
                </span>
            </li>
        </ul>
    </div>

    <div class="copyright">
        <p>&copy; vanilla 2020</p>
    </div>
	
	<!-- Scroll Animimation -->
    <div class="c-scroll-icon">
        <p>SCROLL DOWN</p>
    </div>
	
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="main-title mt-90">
                        <h1 class="strokes">Get in <span>Touch</span></h1>

                        <div class="dash"></div>
                    </div>

                </div>
            </div>
        </div>
    </section>
	
    <!-- Contact Section Start -->
    <section class="contact-area section p-b-80">
        <div class="container">
            <div class="row" data-aos="fade-up">
                <div class="col-lg-12 mb-100" data-aos="fade-up">
                    <!-- Google Map Start-->
					<!-- <div class="map-contact">
						<div id="map"></div>
					</div> -->
					<!-- Google Map End -->
                </div>
                <div class="col-lg-12 text-center mb-40">
                    <div class="title-content" data-aos="fade-up">
                        <h2>Let's Talk</h2>
                    </div>
					<div class="mt-50"></div>
                </div>
                <div class="col-lg-4 text-left">
                    <div class="contact-info contact">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <!-- <p>Номер </p> -->
                        <div class="email link">
                            <a href="contact.html#">+380 66 503 9734</a>
                        </div>
                    </div>
                    <div class="contact-info contact">
                        <i class="fa fa-map" aria-hidden="true"></i>
                        <!-- <p></p> -->
                        <div class="email link">
                            <a href="contact.html#">@webdevdy</a>
                        </div>
                    </div>
                    <div class="contact-info contact">
                        <i class="fas fa-reply"></i>
                        <p>email</p>
                        <div class="email link">
                            <a href="contact.html#">webdevdy@gmail.com</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8" data-aos="fade-up">
                    <p class="form-message"></p>
                    <br>
                    <form class="contact-form form" id="contact-form" action="http://www.dentlu.com/html/Vanilla/mail.php" method="POST">
                        <div class="controls">
                            <div class="row">
                                <div class="col-md-6 mt-20">
                                    <div class="form-group">
                                        <input id="form_name" type="text" name="name" class="form-control" placeholder="Введите свое Имя *"
                                            required="required">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-20">
                                    <div class="form-group">
                                        <input id="form_email" type="email" name="email" class="form-control"
                                            placeholder="Введите свой адрес электронной почты *" required="required">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mt-20">
                                    <div class="form-group">
                                        <input id="form_need" type="text" name="subject" class="form-control" placeholder="Тема сообщения*"
                                            required="required"">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mt-20">
                                    <div class="form-group">
                                        <textarea id="form_message" name="message" class="form-control" rows="6" placeholder="Сообщение*"
                                            rows="4" required="required"></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-20 text-left">
                                    <input type="submit" class="btn btn-sends link" value="Отправить">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
	
    <!-- Footer Next -->
    <div class="next-page centered mt-50">
        <div class="container text-center" data-aos="fade-up">
            <div class="title">
                <p>View our work</p>
                <h3 class="strokes"><a class="link load-marmoset" href="index.html"><span>Projects</span></a></h3>
            </div>
        </div>
    </div>
	
	<script src="assets/js/jquery-3.5.1.min.js"></script>
    <script src="assets/js/plugin.js"></script>
    <script src="assets/js/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4JwWo5VPt9WyNp3Ne2uc2FMGEePHpqJ8&callback=initMap" async="" defer=""></script>
    <script src="assets/js/main.js"></script>
	
</body>

</html>