@import "~bootstrap/dist/css/bootstrap.css";

#preloader-wapper {
  width: 100%;
  height: 100vh;
  top: 0;
  overflow: hidden;
  position: fixed;
  z-index: 99999999;
  display: flex; }
  #preloader-wapper::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    background: #09070c;
    top: 0;
    left: 0;
    transition: 0.4s;
    -webkit-transition: height 0.4s;
    -moz-transition: height 0.4s;
    -ms-transition: height 0.4s;
    -o-transition: height 0.4s; }
  #preloader-wapper::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    background: #09070c;
    top: 0;
    left: 0;
    transition: 0.4s;
    -webkit-transition: height 0.4s;
    -moz-transition: height 0.4s;
    -ms-transition: height 0.4s;
    -o-transition: height 0.4s;
    top: auto;
    bottom: 0; }
  #preloader-wapper.loaded::before, #preloader-wapper.loaded::after {
    height: 0%; }
// 

#preloader-wapper.loaded {
	&::before {
		height: 0%;
	}
	&::after {
		height: 0%;
	}
}
.loader-middle {
	position: relative;
	width: 50%;
	height: 1px;
	overflow: hidden;
	margin: auto;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-ms-transition: all 0.8s;
	-o-transition: all 0.8s;
	z-index: 555;
	&::before {
		position: absolute;
		content: "";
		width: 0;
		height: 100%;
		left: 50%;
		background: #793be8;
		animation: showLine 700ms ease-in-out 0s forwards;
		-o-animation: showLine 700ms ease-in-out 0s forwards;
		-webkit-animation: showLine 700ms ease-in-out 0s forwards;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
	}
	&::after {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		left: -100px;
		top: 0;
		animation: loader-middle 2s cubic-bezier(0.86, 0, 0.07, 1) infinite;
		-o-animation: loader-middle 2s cubic-bezier(0.86, 0, 0.07, 1) infinite;
		-webkit-animation: loader-middle 2s cubic-bezier(0.86, 0, 0.07, 1) infinite;
		animation-delay: 1200ms;
	}
}
.ubuntu {
	font-family: "Ubuntu", sans-serif;
	font-family: "Ubuntu", sans-serif;
}
.loader-middle.loaded {
	width: 100%;
    opacity: 0;
    z-index: -1;
	&::after {
		opacity: 0;
        display: none;
	}
}
.c-scroll-icon {
	z-index: 12;
	position: fixed;
	right: 50px;
	bottom: 20px;
	p {
		color: #fff;
		font-size: 10px;
		letter-spacing: 2px;
		font-weight: 700;
		margin: 0;
	}
}
.loader-logo {
	img {
		height: 40px;
	}
}
.mt-full {
	margin-top: 100vh !important;
}
.mt-10 {
	margin-top: 10px !important;
}
.mt-20 {
	margin-top: 20px !important;
}
.mt-30 {
	margin-top: 30px !important;
}
.mt-40 {
	margin-top: 40px !important;
}
.mt-50 {
	margin-top: 50px !important;
}
.mt-60 {
	margin-top: 60px !important;
	margin-top: 60px !important;
}
.mt-70 {
	margin-top: 70px !important;
}
.mt-80 {
	margin-top: 80px !important;
}
.mt-90 {
	margin-top: 90px !important;
}
.mb-40 {
	margin-bottom: 40px !important;
	margin-bottom: 40px !important;
}
.mb-20 {
	margin-bottom: 20px !important;
}
.mb-50 {
	margin-bottom: 50px !important;
}
.mb-70 {
	margin-bottom: 70px !important;
}
.mb-100 {
	margin-bottom: 100px !important;
}
.centered {
	display: flex;
	align-items: center;
	justify-content: center;
}
section {
	padding-top: 70px;
	padding-bottom: 70px;

    &::-webkit-scrollbar {
	  width: 0px;
}
    &::-webkit-scrollbar-track {
	  background: #ffff;
}
    &::-webkit-scrollbar-thumb {
  	background: #222222;
}
}
.bg_block_first {
	z-index: 97;
	position: fixed;
	width: 100%;
	height: 0;
	top: 0;
	background: #09070c;
}
.bg_block_second {
	z-index: 97;
	position: fixed;
	width: 100%;
	height: 0;
	bottom: 0;
	background: #09070c;
}
.nav-burger {
	position: fixed;
	right: 2%;
	top: 20px;
	z-index: 99;
}
.toggle-btn {
	position: relative;
	width: 50px;
	height: 50px;
	right: 0px;
	border: 2px solid rgba(255, 255, 255, 0);
	border-radius: 100%;
	cursor: none;
	transition: all 0.4s ease;
	&:hover {
		border: 2px solid rgba(255, 255, 255, 0.5);
	}
}
.burger-menu {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}
.one {
	display: block;
	position: relative;
	width: 20px;
	height: 2px;
	background: #fff;
}
.two {
	display: block;
	position: relative;
	width: 25px;
	height: 2px;
	background: #fff;
	margin-top: 4px;
}
.tre {
	display: block;
	position: relative;
	width: 20px;
	height: 2px;
	background: #fff;
	margin-top: 4px;
}
.menu {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	top: 0;
	z-index: 98;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	li {
		color: #fff;
	}
}
.menu-text {
	p {
		font-weight: 300;
		line-height: 30px;
		color: #fff;
	}
}
.data {
	text-align: center;
	width: 90%;
	ul {
		padding: 0;
	}
}
.hide {
	display: none;
}
ul {
	list-style: none;
	padding: 0;
}
.menu-link {
	font-family: "Passion One", cursive;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	opacity: 1;
	font-size: 55px;
	font-weight: 700;
	margin: 5px 0;
	padding: 0 10px;
	overflow: hidden;
	transition: all 0.4s ease;
	color: transparent;
	-webkit-text-stroke: 1px rgba(195, 195, 195, 0.7);
	&:hover {
		opacity: 1;
	}
}
.menu-link.hide {
	opacity: 0;
	visibility: hidden;
}
.menu-link.active {
	opacity: 1;
}
.bg-nav {
	position: fixed;
	z-index: 22;
	background: #222222;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
}
.links {
	margin: 0;
}
.multimenu {
	position: absolute;
	margin: 10px 0;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
}
.multimenu.active {
	opacity: 1;
	visibility: visible;
}
ul.multimenu {
	li {
		display: inline;
		margin: 0 10px;
		a {
			transition: all 0.3s ease;
			font-family: "Poppins", serif;
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0px;
			opacity: 1;
			text-decoration: none;
			color: #fff;
			&:hover {
				opacity: 0.5;
			}
		}
	}
}
a {
	&:hover {
		text-decoration: none;
		color: #fff;
	}
}
.social {
	position: fixed;
	transform: translatey(-50%);
	top: 50%;
	left: 2%;
	z-index: 10;
	ul {
		padding: 0;
		margin: 0;
		li {
			display: block;
			margin: 10px 0;
		}
	}
	a {
		font-size: 14px;
		color: #fff;
		opacity: 1;
		width: 50px;
		height: 50px;
		line-height: 47px;
		text-align: center;
		border: 2px solid rgba(255, 255, 255, 0);
		border-radius: 100%;
		&:hover {
			border: 2px solid rgba(255, 255, 255, 0.5);
			opacity: 1;
		}
	}
}
.c-magnetic {
	.span {
		display: inline-block;
	}
}
.copyright {
	z-index: 12;
	position: fixed;
	left: 3%;
	bottom: 20px;
	p {
		margin: 0;
		color: #fff;
		font-family: "Poppins", sans-serif;
		font-size: 10px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	>.test-block {
		background: #fff;
		width: 300px;
		height: 300px;
		position: absolute;
		top: 100px;
		left: -100px;
	}
}
.logo {
	position: fixed;
	left: 40px;
	top: 25px;
	z-index: 99;
	img {
		height: 30px;
	}
}
body {
	background: #09070c;
	height: 100%;
	overflow: hidden;
	position: relative;
	font-family: "Poppins";
	overflow-x: hidden;
}
.bg {
	width: 60%;
	height: 60%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

.project-img {
	height: 100%;
	width: 100%;
	background-size: cover !important;
	background-position: center center !important;
}
.project-1 {
  background: url("../logo.png");
  background-repeat: no-repeat;
}
@keyframes showLine {
  0% {
    width: 0;
    opacity: 0; }
  100% {
    width: 100%;
    opacity: 1; } }

@-o-keyframes showLine {
  0% {
    width: 0;
    opacity: 0; }
  100% {
    width: 100%;
    opacity: 1; } }

@-webkit-keyframes showLine {
  0% {
    width: 0;
    opacity: 0; }
  100% {
    width: 100%;
    opacity: 1; } }

@keyframes loader-middle {
  0% {
    left: -100%;
    background: #fff; }
  100% {
    left: 100%;
    background: #fff; } }

@-o-keyframes loader-middle {
  0% {
    left: -100%;
    background: #fff; }
  100% {
    left: 100%;
    background: #fff; } }

@-webkit-keyframes loader-middle {
  0% {
    left: -100%;
    background: #fff; }
  100% {
    left: 100%;
    background: #fff; } }

